@charset "UTF-8";
#header .menu .gnb1{
  display: block;
}
.best_wrap{
  ul{
    padding: 0 40px;
    margin-top: 60px;
    .last{
      height: inherit;
      width: 100%;
      margin-bottom: 0;
      span{
        float: left;
        width: 50%;
      }
      div{
        a{
          position: inherit;
          margin: 0 auto;
        }
        p{
          padding: 55px 40px;
        }
        padding-top: 30px;
        text-align: center;
        float: left;
        width: 50%;
      }
    }
    li{
      a{
        &:hover,&:focus{
          background: #b68957;
          color: #fff;
        }
        transition: all 0.5s;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -69px;
        display: block;
        border: 1px solid #b68957;
        width: 138px;
        height: 37px;
        color: #b68957;
        line-height: 37px;
        text-align: center;
        font-size: 14px;
      }
      p{
        color: #555555;
        font-size: 14px;
        padding: 0 20px;
        text-align: center;
        margin-bottom: 70px;
        display:-webkit-box;
        -webkit-line-clamp:3;
        -webkit-box-orient:vertical;
        max-height:63px;
        overflow:hidden;
      }
      img{
        &:hover,&:focus{
        filter:brightness(110%);
        }
        +img{
          display: block;
          margin: 0 auto;
          padding-top: 30px;
          padding-bottom: 50px;
        }
      }
      width: 33.3333%;
      height: 560px;
      float: left;
      padding: 0 40px;
      margin-bottom: 60px;
      position: relative;
    }
  }
  margin-top: 86px;
  h2{
    margin-bottom: 40px;
    padding-right: 70px;
    text-align: right;
    font-size: 14px;
    color: #333333;
    a{
      &:first-child{
        color: #333333;
      }
      color: #b68957;
    }
  }
  .best10{
    p{
      position: absolute;
      top: 50%;
      margin-top: -150px;
      left: 50%;
      margin-left: -210px;
      width: 420px;
      height: 300px;
      background: url(../images/bestseller/black_back_6.png) repeat;
      text-align: center;
      strong{
        padding-top: 80px;
        padding-bottom: 24px;
        margin-bottom: 26px;
        display: block;
        font-size: 35px;
        color: #fff;
        background: url(../images/bestseller/bestseller_var.png) center bottom no-repeat;
      }
      span{
        font-size: 15px;
        color: #fff;
      }
    }
    width: 980px;
    height: 592px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
  }
}
@media (max-width:1024px) {
.best10{
    display: none;
}
.best_wrap ul li{
  padding: 0 30px;
  height: 500px;
}
.best_wrap ul .last span{
  width: 100%;
  text-align: center;
}
.best_wrap ul .last div{
  width: 100%;
}
.best_wrap{
  margin-top: 35px;
}
}
@media (max-width:860px){
  .best_wrap ul li{
    width: 50%;
    padding: 0 10px;
    text-align: center;
  }
}
@media (max-width:480px){
  .best_wrap ul li{
    width: 100%;
  }
  .best_wrap h2{
    padding-right: 0;
    text-align: center;
  }
}
