@charset "UTF-8";
.join_wrap{
  margin-top: 25px;
  h2{
    margin-bottom: 85px;
    padding-right: 70px;
    text-align: right;
    font-size: 14px;
    color: #333333;
    a{
      &:first-child{
        color: #333333;
      }
      color: #b68957;
    }
  }
}
  .join_ing{
  width: 70.31%;
  margin: 0 auto;
  padding-bottom: 40px;
  .on{
    color: #6d9811;
    border-bottom: 3px solid #6d9811;
  }
  li{
    &:first-child{
      background: none;
    }
    border-bottom: 1px solid #d4d4d7;
    color: #737373;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    float: left;
    width: 25%;
    height: 51px;
    background: url(../images/join/join_arr.png) left 50% no-repeat;
    p{
      font-size: 14px;
      padding-top: 2px;
    }
  }
}
.step1{
 display: block;
 width: 70.31%;
 margin: 0 auto;
 .join_idc{
    padding: 0 10px;
    margin-bottom: 45px;
  li{
      text-align: center;
    a{
      display: block;
      width: 160px;
      height: 45px;
      margin: 0 auto;
      background: #7993b2;
      color: #fff;
      text-align: center;
      line-height: 45px;
      font-weight: bold;
      font-size: 16px;
      margin-top: 35px;
    }
    float: left;
    width: 47%;
    margin: 0 10px;
    background: #edf1f7;
    padding-top: 60px;
    padding-bottom: 30px;
    +li{
      a{
        margin-top: 43px;
        background: #a8928d;
      }
      background: #f5f0ef;
    }
  }
}
.join_txt1{
  border-bottom: 1px solid #d4d4d7;
  margin-bottom: 50px;
  padding: 0 10px 50px 10px;
  li{
    text-align: justify;
    padding-bottom: 10px;
    color: #737373;
    font-size: 14px;
    font-weight: bold;
  }
}
dl{
  text-align: justify;
  padding-bottom: 30px;
  dt{
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  dd{
    color: 737373;
    font-size: 14px;
  }
}
.join_txt2{
  li{
    text-align: justify;
    padding-top: 10px;
    color: #737373;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
  }
 }
}
.step2{
  display: none;
  padding-top: 20px;
  width: 70.31%;
  margin: 0 auto;
  .all_ck{
    background: #edf1f7;
    margin-bottom: 25px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #4e4e4e;
    font-size: 14px;
    font-weight: bold;
        input[type="checkbox"]{
          display: none;
        }
        label{
          cursor: pointer;
          padding:0 30px 5px 0;
          background: url(../images/join/bg_chkbox.png) right 2px no-repeat;
        }
        input[type="checkbox"]:checked + label {
          background-position-y: -21px;
        }
    }
 div{
   margin-bottom: 25px;
   position: relative;
   .txt_box{
     height: 150px;
     overflow-y: scroll;
     border: 1px solid #dadada;
     padding: 10px;
     h4{
       color: #333;
       font-size: 16px;
       font-weight: bold;
       padding-bottom: 25px;
     }
     p{
       color: #737373;
       font-size: 14px;
       padding-bottom: 20px;
     }
   }
   h3{
     color: #4e4e4e;
     font-size: 16px;
     font-weight: bold;
     margin-bottom: 15px;
   }
   .sub_ck_box{
     position: absolute;
     top: 0;
     right: 0;
     input[type="checkbox"]{
       display: none;
     }
     label{
       color: #333;
       font-size: 14px;
       font-weight: bold;
       cursor: pointer;
       padding:2px 30px 5px 0;
       background: url(../images/join/bg_chkbox.png) right 4px no-repeat;
     }
     input[type="checkbox"]:checked + label {
       background-position-y: -19px;
     }
   }
 }
 .table_box{
   padding: 10px;
   border: 1px solid #dadada;
   table{
     border: 1px solid #dfdfdf;
     thead{
       tr{
         border-top: 2px solid #333;
         th{
           font-size: 14px;
           font-weight: bold;
           height: 30px;
           background: #f8f8f8;
           text-align: center;
         }
       }
     }
     tbody{
       tr{
         td{
           &:first-child{
             width: 10%;
           }
           width: 30%;
           font-size: 14px;
           color: #737373;
           text-align: center;
           height: 80px;
           border: 1px solid #dfdfdf;
           padding: 0 10px;
         }
       }
     }
   }
   ul{
     padding: 10px 0;
     li{
       font-size: 14px;
       color: #737373;
     }
   }
 }
 a{
   display: block;
   width: 140px;
   height: 40px;
   background: #7993b2;
   color: #fff;
   font-size: 16px;
   line-height: 40px;
   text-align: center;
   margin: 0 auto;
   font-weight: bold;
   margin-top: 45px;
 }
}
.step3{
  display: none;
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
  padding: 0 90px;
  h3{
    color: #4e4e4e;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 30px;
  }
  p{
    #user_phone{
      width: 80%;
    }
    #user_address_num{
      width: 65%;
    }
    #user_address_num+a{
      display: inline-block;
      width: 140px;
      height: 40px;
      color: #333;
      font-size: 16px;
      font-weight: bold;
      line-height: 40px;
      text-align: center;
      background: #edf1f7;
      vertical-align: middle;
      margin-left: 4px;
    }
    position: relative;
    margin-bottom: 10px;
    padding-left: 150px;
    label{
      position: absolute;
      top: 9px;
      left: 0;
      vertical-align: middle;
      color: #737373;
      font-size: 16px;
    }
    input[type="text"],input[type="password"]{
      vertical-align: middle;
      line-height: 40px;
      width: 100%;
      height: 40px;
      border: 1px solid #ccc;
    }
    select{
      vertical-align: middle;
      width: 11.11%;
      height: 40px;
      border: 1px solid #ccc;
    }
    input[type="radio"]{
      display: none;
    }
    input[type="radio"]+label{
      position: inherit;
      top: inherit;
      vertical-align: middle;
      color: #333;
      font-size: 16px;
      cursor: pointer;
      padding:0 30px 0 20px;
      background: url(../images/join/bg_raidobox.png) right 2px no-repeat;
    }
    input[type="radio"]:checked + label {
      background-position-y: -18px;
    }
  }
  .mt_60{
    margin-top: 60px;
  }
  .submit{
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 60px;
    button{
      width: 140px;
      height: 40px;
      color: #fff;
      background: #7993b2;
      line-height: 40px;
      border: none;
      font-weight: bold;
    }
  }
  .ad{
    padding: 60px 0 0 0;
    width: 520px;
    margin: 0 auto;
    span{
      vertical-align: middle;
      display: inline-block;
      color: #4e4e4e;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
.step4{
  display: none;
  p{
    +p{
      padding: 0;
      padding-top: 45px;
      +p{
      padding: 0;
      padding-top: 30px;
        a{
        display: inline-block;
        width: 140px;
        height: 40px;
        color: #fff;
        line-height: 40px;
        font-size: 16px;
        background: #7993b2;
        font-weight: bold;
      }
    }
  }
    padding: 35px 30px 15px 0;
    text-align: center;
    color: #333;
    font-size: 26px;
    font-weight: bold;
  }
}
@media (max-width:1024px) {
.join_ing{
  width: 95%;
}
.step1 .join_idc li{
  width: 47%;
  margin: 0 5px;
}
.step1,.step2{
  width: 95%;
}
.step3{
  width: 95%;
  padding: 0;
}
}
@media (max-width:860px) {
  .join_ing li{
    float: none;
    width: 100%;
    background: none;
    margin-bottom: 10px;
  }
  .join_wrap h2{
    margin-bottom: 35px;
  }
  .join_ing{
    padding-bottom: 10px;
  }
  .step4 p{
    font-size: 22px;
  }
  .step3 .ad{
    width: 100%;
    text-align: center;
    span{
      display: block;
      width: 100%;
      padding: 0 20px 20px 20px;
    }
  }
  .step3 p #user_address_num{
    width: 48%;
  }
}
@media (max-width:480px) {
.join_wrap h2{
  text-align: center;
  padding: 0;
}
.step1 .join_idc li{
width: 100%;
margin-bottom: 10px;
}
.step2 .table_box,.step2 .table_box,.txt_box{
  display: none;
}
.step4 p{
  font-size: 16px;
}
.step3 p input{
  display: block;
}
.step3 p #user_address_num,.step3 p #user_phone,
.step3 p #user_address_num+a{
  width: 100%;
  margin: 0;
}
.step3 p select{
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
.step3 p label{
  position: inherit;
  top: inherit;
  left: inherit;
  display: block;
  margin-bottom: 10px;
}
.step3 p input[type="radio"]+label{
  text-align: left;
  padding-left: 0;
}
.step3 p{
  padding: 0;
}
}
