@charset "UTF-8";
#header .menu .gnb2{
  display: block;
}
.sns_wrap{
   padding: 0 40px;
    margin-top: 86px;
  h2{
    margin-bottom: 40px;
    padding-right: 70px;
    text-align: right;
    font-size: 14px;
    color: #333333;
    a{
      &:first-child{
        color: #333333;
    }
      color: #b68957;
  }
 }
}
.sns_tit{
  img{
    padding: 0 10px;
    background: #fff;
  }
  text-align: center;
  width: 93.75%;
  margin: 0 auto;
  margin-bottom: 130px;
  background: url(../images/common/tit_back_var.png) 0 -6px repeat-x;
}
.sns_box{
  li{
    padding: 0 15px;
    margin-bottom: 60px;
    float: left;
    width: 25%;
    a{
      display:-webkit-box;
      -webkit-line-clamp:3;
      -webkit-box-orient:vertical;
      max-height:160px;
      overflow:hidden;
      height: 160px;
      background: #f6f6f6;
      color: #333;
      padding: 55px 20px 0 20px;
      font-size: 16px;
      text-align: center;
      display: block;
      &:hover,&focus{
        background: #729536;
        color: #fff;
      }
    }
    p{
      width: 100%;
      height: 170px;
      text-align: center;
      padding-top: 60px;
      color: #333;
      font-size: 22px;
    }
  }
  .sns_icon{
    width: 100%;
    background: #f6f6f6;
    height: 160px;
    padding: 0;  
 }
}
.more{
  a{
    color: #333333;
    font-size: 18px;
    display: block;
    width: 210px;
    height: 34px;
    border: 1px solid #cdcfd2;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
  }
}
@media (max-width:1024px){
  .sns_box li{width: 33.33%;}
}
@media (max-width:860px){
.sns_box li{
  img{
    width: 100%;
  }
  text-align: center;
  width: 50%;
}
}
@media (max-width:480px) {
  .sns_wrap h2{
    text-align: center;
    padding-right: 0;
  }
  .sns_box li{
    width: 100%;
  }
}
