@charset "UTF-8";
#header .menu .gnb2{
  display: block;
}
.sns_wrap{
    margin-top: 86px;
  h2{
    margin-bottom: 40px;
    padding-right: 70px;
    text-align: right;
    font-size: 14px;
    color: #333333;
    a{
      &:first-child{
        color: #333333;
    }
      color: #b68957;
  }
 }
}
.sns_tit{
  img{
    padding: 0 10px;
    background: #fff;
  }
  text-align: center;
  width: 93.75%;
  margin: 0 auto;
  margin-bottom: 130px;
  background: url(../images/common/tit_back_var.png) 0 -6px repeat-x;
}
.sns_box{
  padding-left: 7px;
  padding-right: 40px;
  li{
    a{
      color: #333;
      font-size: 18px;
      text-align: center;
      display: inline-block;
      padding: 0 20px;
      margin-top: 50px;
      &:hover,&focus{
        text-decoration: underline;
      }
    }
    margin-bottom: 60px;
    margin-left: 33px;
    float: left;
    width: 22.25%;
    height: 330px;
    background: #f6f6f6;
    p{
      height: 170px;
      background: #fff;
      text-align: center;
      padding-top: 60px;
      color: #333;
      font-size: 22px;
    }
  }
  .sns_icon{
    height: 160px;
    padding: 0;
    position: relative;
    a{
      +a{
        left:123px;
        +a{
          left: 172px;
          +a{
             top: 85px;
             left: 99px;
             +a{
               left: 147px;
             }
          }
        }
      }
      padding: 0;
      margin: 0;
      position: absolute;
      top: 45px;
      left: 75px;
    }
  }
}
.more{
  a{
    color: #333333;
    font-size: 18px;
    display: block;
    width: 210px;
    height: 34px;
    border: 1px solid #cdcfd2;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
  }
}
