@charset "UTF-8";
#header .menu .gnb1{
  display: block;
}
.social_wrap{
  margin-top: 86px;
  h2{
  margin-bottom: 20px;
  padding-right: 70px;
  text-align: right;
  font-size: 14px;
  color: #333333;
  a{
    &:first-child{
      color: #333333;
    }
    color: #b68957;
  }
 }
 .sub_tit{
   width: 536px;
   margin: 0 auto;
   margin-bottom: 60px;
   li{
     float: left;
     .on{
       background: #b68957;
       color: #fff;
       font-weight: bold;
     }
     a{
       display: block;
       color: #555;
       width: 268px;
       height: 43px;
       border: 1px solid #b68957;
       line-height: 42px;
       text-align: center;
     }
   }
 }
 p{
   position: relative;
   width: 76.56%;
   margin: 0 auto;
   margin-bottom: 85px;
   span{
     display: inline-block;
     width:30.61%;
     height: 23.07%;
     text-align: center;
     line-height: 52px;
     position: absolute;
     top: 15.38%;
     left: 50%;
     margin-left: -15.305%;
     color: #fff;
     font-size: 20px;
     background: url(../images/socialactivity/tap1back.png) 0 0 no-repeat;
   }
 }
 .main{
   width: 76.56%;
   margin: 0 auto;
   background: #dcdecc;
   text-align: center;
   padding-bottom: 70px;
   margin-bottom: 75px;
   h3{
     padding: 80px 20px 45px 20px;
     +p{
       +p{
         +img{
           padding: 0 20px;
         }
         text-align: justify;
          color: #555;
          font-size: 15px;
          line-height: 25px;
          padding-bottom: 70px;
          margin-bottom: 0;
       }
       margin-bottom: 0;
       text-align: center;
       padding-bottom: 30px;
     }
   }
 }
.main+p{
  text-align: center;
 }
 .tap2{
   display: block;
  width: 93.75%;
  height: 620px;
  margin: 0 auto;
  background: url(../images/socialactivity/socialactivity_tap2_vis.png) 0 0 no-repeat;
  ul{
    padding: 110px 30px 0 30px;
    li{
      float: left;
      width: 33.33%;
      margin-bottom: 30px;
      padding: 0 10px;
      a{
        &:hover,&:focus{
          color: #fff;
          line-height: 150px;
          background:#7b704d url(../images/socialactivity/tap2_hover_back.png) center 110px no-repeat;
          }
          color: #cddbb1;
          font-size: 28px;
          text-align: center;
          line-height: 190px;
          height: 190px;
          display:block;
          background: url(../images/socialactivity/tap2back.png) 0 0 no-repeat;
        }
      }
    }
  }
}
@media (max-width:1024px) {
.social_wrap .sub_tit{
  width: 100%;
  position: absolute;
  top:50px;
  left: 0;
  li{
    width: 50%;
    a{
      width: 100%;
    }
  }
}
.social_wrap p span{
  display: none;
}
.social_wrap .tap2 ul li a{
  font-size: 20px;
}
}
@media (max-width:860px) {
.social_wrap p{
margin-bottom: 50px;
}
.social_wrap .tap2{
  height: 576px;
}
.social_wrap .tap2 ul{
  padding: 0;
  li{
    border: 1px solid #7b704d;
      width: 50%;
      padding: 0;
      margin: 0;
  }
}
.social_wrap .tap2 ul li a{
  background-size: cover;
}
}
@media (max-width:480px) {
.social_wrap h2{
  text-align: center;
  padding: 0;
}
.social_wrap .main h3+p+p{
  font-size: 14px;
}
.social_wrap .tap2 ul li a{
  font-size: 14px;
}
}
