@charset "UTF-8";
#header .menu .gnb2{
  display: block;
}
.tip_wrap{
    margin-top: 86px;
  h2{
    margin-bottom: 40px;
    padding-right: 70px;
    text-align: right;
    font-size: 14px;
    color: #333333;
    a{
      &:first-child{
        color: #333333;
      }
      color: #b68957;
    }
  }
  .sub_tit{
    width: 432px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 90px;
    li{
      float: left;
      .on{
        background: #6d9811;
        color: #fff;
        font-weight: bold;
      }
      a{
        display: block;
        color: #333333;
        width: 216px;
        height: 36px;
        border: 1px solid #6d9811;
        line-height: 36px;
        text-align: center;
      }
    }
}
.tip1_tit{
  img{
    padding: 0 10px;
    background: #fff;
  }
  text-align: center;
  width: 93.75%;
  margin: 0 auto;
  margin-bottom: 65px;
  background: url(../images/common/tit_back_var.png) 0 -9px repeat-x;
}
.more{
  a{
    color: #333333;
    font-size: 18px;
    display: block;
    width: 210px;
    height: 34px;
    border: 1px solid #cdcfd2;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
  }
}
.tip1_wrap{
  iframe{
    width: 480px;
    height: 280px;
    float: left;
    margin-right: 100px;
  }
  img{
    float: left;
    margin-right: 100px;
  }
  ul{
  li{
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 120px;
    h3{
      padding-top: 30px;
      padding-bottom: 50px;
      a{
        color: #333;
        font-size: 24px;
        font-weight: bold;
      }
      +p{
        padding-bottom: 60px;
        a{
          color: #666666;
          font-size: 14px;
          font-weight: normal;
        }
        +p{
          a{
            +a{
              &:hover, &:focus{
              background: url(../images/tip/icon_interest_3_on.png) 0 0 no-repeat;
              }
              background: url(../images/tip/icon_interest_3.png) 0 0 no-repeat;
            }
            &:hover, &:focus{
            background: url(../images/tip/icon_recom_2_on.png) 0 0 no-repeat;
            }
            text-indent: -9999px;
            display: inline-block;
            width: 60px;
            height: 60px;
            background: url(../images/tip/icon_recom_2.png) 0 0 no-repeat;
          }
        }
      }
    }
   }
  }
}
.tip2_wrap{
  display: block;
ul{
  padding: 0 25px;
  li{
    padding: 0 15px;
    float: left;
    width: 25%;
    margin-bottom: 50px;
    a{
      border: 1px solid #e5e5e5;
      span{
        display: inline-block;
        padding: 15px 0;
      }
      text-align: center;
      &:hover,&:focus{
        border: 1px solid #6d9811;
      }
      display: block;
    }
   }
  }
 }
}
@media (max-width:1024px) {
  .tip_wrap .tip2_wrap ul li{
    width: 33.33%;
  }
.tip_wrap .sub_tit{
  position: absolute;
  top: 50px;
  left: 0;
  margin: 0;
  width: 100%;
  li{
    width: 50%;
    a{
      width: 100%;
    }
  }
}
.tip_wrap .tip1_wrap ul li h3{
  padding-bottom: 25px;
}
.tip_wrap .tip1_wrap ul li h3+p{
  padding-bottom: 40px;
}
}
@media (max-width:860px) {
  .tip_wrap .tip2_wrap ul li{
    width: 50%;
  }
.tip_wrap .tip1_wrap img,.tip_wrap .tip1_wrap iframe{
  width: 100%;
  margin: 0;
  padding-bottom:30px;
}
.tip_wrap .tip1_wrap ul li h3 a{
  font-size: 20px;
}
.tip_wrap .tip1_wrap ul li h3,.tip_wrap .tip1_wrap ul li h3+p,
.tip1_wrap ul li h3+p+p{
  text-align: center;
}
.tip_wrap .tip1_wrap ul li{padding-bottom: 40px;}
}
@media (max-width:480px) {
  .tip_wrap .tip2_wrap ul li{
    width: 100%;
  }
.tip_wrap h2{
  text-align: center;
  padding: 0;
}
}
